In [25]:
import pandas as pd

In [26]:
def is_consistent(h1:list,h2:list,n:int)->bool:
  i=0
  while i<n:
    if h1[i]=='?' or h2[i]=='?':
      i+=1
      continue
    if h1[i]!=h2[i]:
      return False
    i+=1
  return True

In [27]:
dataset=pd.read_csv('dataset.csv')
n=dataset.shape[1]
m=dataset.shape[0]
G = [['?' for _ in range(n-1)]]
S = ['phi' for _ in range(n-1)]

In [37]:
dataset

    size color     shape label
0    big   red    circle    no
1  small   red  triangle    no
2  small   red    circle   yes
3    big  blue    circle    no
4  small  blue    circle   yes

In [28]:
values=[[] for _ in range(n-1)]
for i in range(m):
  changed=False
  for j in range(n-1):
    if len(values[j])<2:
      changed=True
      if len(values[j])==0 or values[j][0]!=dataset.iloc[i][j]:
        values[j].append(dataset.iloc[i][j])
  if not changed:
    break

In [36]:
for i in range(m):
  if dataset.iloc[i][-1].lower()=='yes':
      for g in G:
        if not is_consistent(dataset.iloc[i][0:-1],g,n-1):
          G.remove(g)
      for j in range(n-1):
        if S[j]=='phi':
          S[j]=dataset.iloc[i][j]
        elif S[j]!=dataset.iloc[i][j]:
          S[j]='?'
  if dataset.iloc[i][-1].lower()=='no':
    for g in G:
      if is_consistent(dataset.iloc[i][0:-1],g,n-1):
        for j in range(n-1):
          if g[j]=='?':
            new_g=g.copy()
            if values[j][0]==dataset.iloc[i][j]:
              new_g[j]=values[j][1]
            else:
              new_g[j]=values[j][0]
            G.append(new_g)
        G.remove(g)
print(S)
print(G)

['small', '?', 'circle']
[['small', '?', 'circle']]