In [ ]:
import numpy as np
import pandas as pd

In [10]:
!curl https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv > iris.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3858  100  3858    0     0  66517      0 --:--:-- --:--:-- --:--:-- 66517

In [11]:
dataset = pd.read_csv('iris.csv')

In [12]:
dataset.shape

(150, 5)

In [13]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
dataset.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [17]:
feature_columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width']
X = dataset[feature_columns].values
y = dataset['species'].values

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [21]:
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score

# Instantiate learning model (k = 3)
classifier = KNeighborsClassifier(n_neighbors=3)

# Fitting the model
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [23]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[11,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  6]])

In [25]:
acy = accuracy_score(y_test, y_pred)*100
print('Accuracy of our model is equal ' + str(round(acy, 2)) + ' %.')

Accuracy of our model is equal 96.67 %.